.toolbar {
    width:99%;
    padding: 5px;
    border:1px solid var(--main-secondary-color);
    color: var(--main-title-text-color);
    position: relative;
    background-color: var(--main-toolbars-bgcolor);
  }
  
  .fullScreen__icon {
    position: absolute;
    right: 5px;
    top: 10px;
    cursor:pointer;
  }
  
  .fullScreen__icon:hover {
    opacity:0.8;
  }